* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

.header {
    /* z1 */
    height: 100px;
    padding: 25px 0;
    background: rgba(255, 255, 255, 0.75);
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after, menu:after {
    content: "";
    display: block;
    clear: both;
}
.row [class*='col-'] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
/* z-all*/
.menu > ul > li {
    position: relative;
    display: inline-block; 
}

.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;

}
    

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu > li > a {
    display: block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
}

.menu > li > a:hover {
    background-color: #2c71b8 ;
    color: white;
}


/* Под-меню */
/* ============== */

.row-sub-menu {
    color:#2c71b8;
}
.sub-menu {
    display: none ;
    position: absolute;
    width: 287px;
    margin-left: -1px;
    padding: 20px 0 20px 0;
    background-color:#2c71b8;
}

.fa {
    margin-left: 5px;
    font-weight: bold;
}
.menu li:hover .sub-menu {
    display: block;
}

.menu > li:hover a {
    background-color: #2c71b8;
    color: white;
}
.sub-menu > ul {
    float: left;
    border-right: none; 
    width: 285px;
}

.sub-menu > li {
    display: block;
    width: 287px;
    line-height: 40px;
    font-size: 21px;
    background-color: #2d71b8;
    color: white;
    padding-left: 22px;
    
}

.sub-menu > li > a {
    text-decoration: none;
    display: block;
    font-size: 21px;
}

.sub-menu > li:hover {
    background-color: white;
    color:#2c71b8;
}
 .products .sub-menu >li:hover {
     background-color: #2d71b8;
 }


/* Тркетий блок */


/* ======= Поск ======== */
.row {
    line-height: 50px;
}
.search-block {
    position: relative;
    display: block;
    height: 42px;
    line-height: 50px;
    display: block;
    border: 1px solid #2b71b8;
    
}
.placeholder {
    color: #2b71b8;
}


input[type=text] {
    height: 42px;
    width: 158px;
    padding-left: 20px;
    border: none;
    font-size: 17px;
    line-height: 30px;
    background: none;
    color: #2b71b8;
    background-image: url(images/search.png) no-repaet 50% 50%;
    position: absolute;
    outline: none;
   
}

.btn-search {
    display: block;
    float: right;
    background: url(images/search.png) no-repeat 50% 50%;
    width: 30px;
    height: 30px;
    background-color: #2b71b8;
    border: none;
    margin: 5px 5px 5px 0;
    padding: 0;  
}

.btn-search:hover {
    background-color: #4595e4;
}
.search-in:focus {
    color:#2b71b8;
    border: none;    
}


/* .btn-sbm {
    width: 30px;
    padding: 5px 0;   
} */

.srch-item {
    border: none;
    font-size: 21px;
}
.srch-item:focus {
    color:#2b71b8;
    border: none;    
}

/* ===== Коорзина ======== */

.cart {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(images/cart-blue.png) no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
    margin-top: 5px;
    margin-left: 5px;
}

.cart:hover {
    background: url(images/cart-white.png) no-repeat 50% 50% #2b71b8 ;
}
.products-count {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #2d71b8;
    color: white;
    left: -10px;
    top: -10px;
    border-radius: 50%;
}


/* Главная - Фильтр */

.col-md-12 {
    width: 100%;    
}


.filter-body {
    display: block;
    float: left;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 844px;
    margin-right: 15px;
    margin-top: -15px;
    padding: 25px;
   
}
.show-more-options {
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

/* Фильтр */
/* ============= */

.filter-type {
    display: block;
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.filter-items {
    margin-top: 10px;
    margin-bottom: 40px; 
    font-size: 18px;
}

.filter-items:last-child {
    margin-bottom: 15px;
}
.checkbox {
    display: block;
    float: left;
    text-align: center;
}

.input .checkbox-style {
    margin-left: 15px;
}

.filter-items label:before {
    content: "";
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    margin-left: 10px;
    float: left;

}

.filter-items label:after {
    content: "";
    clear: both;
}
input[type="checkbox"] {
    display: none;  
}

input[type="checkbox"] label {
    display: inline-block;
    margin: 0px 20px 0px; 
}

input[type="checkbox"]:checked + label:before {
    background: white;
    float: left;
}

label {
    font-weight: normal;
    text-transform: none; 
    line-height: 20px;
    display: inline-block;  
    padding-right: 5px;
}

[type="checkbox"] + label {
    position: relative;
    
}

 
/* Крошки */
/* ============  */

.breadcrumbs {
    font-size: 14px;
}

.breadcrumbs a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.breadcrumbs a:last-child {
text-decoration: underline;
}

.col-md-4 {
    width: 33,3333%;
}
.col-md-8 {  
    width: 66,666667%;
}
.main-item {
    font-size: 48px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    padding-bottom: 45px; 
    position: relative;  
}

.product {
    display: block;
    width: 270px;
    height: 650px;
    border: 1px solid wheat;
    font-size: 21px;
    color: white;
    padding-right: 15px;
    margin-bottom: 28px;
    background: none; 
}
.slider {
    height: 400px;
    background-color: rgba(35, 90, 147, 0.75);
    border-bottom: 1px solid white;
}

.slider-container {
    height: 400px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.slides {
    position: relative;
    font-size: 100px;
    color: #ffffff;  
}
a {
    text-decoration: none;   
}

.slide-center {
    text-align: center;
    line-height: 400px;
}

.fa-slider i {
    padding-left: 200px;
}

.sort {
    position: relative;
    width: 271px;
    height: 40px;
    color:  #ffffff;
    background-color: #2c71b8;
    font-size: 21px;
    border: 1px solid white;
    font-weight: 300;
    padding-left: 20px;
}

.sort-menu {
    display: block;
    float: left;
    padding-left: 50px;
    position: relative;
    line-height: 100px;
    left: 15.2%;

}

.row [class*='prod-col-'] {
    display: block;
    float: left;
    border: 1px solid white;
    width: 30%;
    height: 650px;
    margin: 15px;
    padding-left: 0;
    padding-right: 0;
}

.prod-photo {
    position: relative;
    display: block;
    text-align: center;
    line-height: 180px;
    width: 270px;
    height: 180px;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.75);
}

.prod-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
} 


.row-add-btn {
    position: absolute;
    display: block;
    float: left;
    width: 45px;
    height: 180px;
    text-align: center;
    margin-left: 223px;
    padding-left: 6px;
    padding-right: 10px;
    padding-top: 10px;
   
}

.btn-zoom {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 180px;
    border: 1px solid #2b71b8;
    background: url(images/zoom-blue.png) no-repeat 50% 50%;
    float: left;
    margin-left: -15px; 
}

.btn-like {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 180px;
    border: 1px solid #2b71b8;
    background: url(images/like-blue.png) no-repeat 50% 50%;
    float: left;
    margin-left: -15px;
    margin-top: 40px;
}

.hover-zoom a:hover {
    background: url(images/zoom-white.png) no-repeat 50% 50%;
    background-color: #2b71b8;   
}
.hover-like a:hover {
    background: url(images/like-white.png) no-repeat 50% 50%;
    background-color: #2b71b8;   
}


.row:after, .filter:after {
    content: "";
    display: block;
    clear: both;
}

.product-title {
    font-size: 25px;
    font-weight: bold;
    
}

/* Описание товара */
.prod-body {
    width: 270px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
   
}

.prod-descr {
    font-size: 21px;
    line-height: 1em;
    margin: 2px 0;

}

.prod-spesific {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5em;  
    

}
span {
    font-size: 21px;
    text-transform: none;
    font-weight: normal;
    padding-left: 10px;
}


.prod-price {
    font-size: 45px; 
    font-weight: bold;
    text-align: center;  
    margin-top: 15px;
    margin-bottom: 10px;
}

.span-price {
    font-size: 34px;
    font-weight: bold;
    vertical-align: super;
    margin-left: 5px;
}

.btn {
    width: 210px;
    height: 50px;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background: #2b71b8;
    text-align: center;
    margin: 0 15px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 15px;
}

.btn-more-details {
    background-color: #2d71b8;     
}

.btn:hover {
   background-color: white;
   color: #2d71b8;
}

   
.btn-add-to-cart {
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(images/cart-white.png) no-repeat 50% 50%;
    margin-top: 5px;
    border: none;
}

.load-more {
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 85px;
}

.footer  {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.75);

}

